.description {
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
    .description {
        padding-left: 100px;
    }
}

@media screen and (max-width: 1279px) {
    .description {
        padding-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .description {
        padding-left: 24px;
    }
}

@media (max-width: 767px) {
    .description {
        padding-left: 16px;
        padding-right: 16px;
    }
}