.description__text {
    margin: 0;
    font-size: 16px;
    line-height: 163%;
    max-width: 690px;
    padding-top: 40px;
    font-weight: 400;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .description__text {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 425px) {
    .description__text {
        padding-left: 16px;
        padding-right: 16px;
    }
}