.hero__title {
    margin: 0;
    font-weight: 900;
    padding-top: 56px;
    font-size: 96px;
    line-height: 100px;
    width: 720px;
    text-align: center;
}

@media (max-width: 765px) {
    .hero__title {
        font-size: 40px;
        line-height: 44px;
        width: 100%;
        padding-top: 48px;
    }
}