.hero__title {
    margin: 0;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    width: 100%;
    max-width: 720px;
    padding-top: 56px;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 1023px) {
    .hero__title {
        padding-top: 48px;
    }
}

@media (max-width: 767px) {
    .hero__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }
}