.places {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    padding: 0;
    gap: 80px;
}

@media (max-width: 1279px) {
    .places {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media (max-width: 1023px) {
    .places {
        margin-left: 24px;
        margin-right: 24px;
        gap: 72px;
    }
}

@media (max-width: 425px) {
    .places {
        margin: 0;
        gap: 50px;
    }
}