.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .header {
        padding: 0 48px;
    }
}

@media (max-width: 1023px) {
    .header {
        padding: 0 24px;
    }
}

@media (max-width: 425px) {
    .header {
        padding: 0 16px;
    }
}