.footer__links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.12;
}

@media (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        font-size: 24px;
        line-height: 1;
        gap: 32px;
    }
}