.header__lang-tab {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    transition: opacity .5s ease-in-out;
}

.header__lang-tab:hover {
    cursor: pointer;
    opacity: .8;
}

@media (max-width: 425px) {
    .header__lang-tab {
        font-size: 18px;
        line-height: 20px;
    }
}