.description__title {
    font-size: 54px;
    line-height: 58px;
    margin: 0;
    padding-top: 92px;
    font-weight: 900;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .description__title {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 425px) {
    .description__title {
        padding-top: 64px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}