.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .image-grid {
        gap: 14px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1023px) {
    .image-grid {
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 425px) {
    .image-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 12px;
    }
}