.place__url-heading {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0;
}

@media (max-width: 425px) {
    .place__url-heading {
        line-height: 12px;
    }
}