.photos {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 1023px) {
    .photos {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 767px) {
    .photos {
        padding-left: 16px;
        padding-right: 16px;
    }
}